<div class="flex-row">
  <app-type-selector (changeType)="changeType($event)" [type]="graphData.type"></app-type-selector>
  <app-type-title (changeTitle)="changeTitle($event)" [title]="graphData.title"></app-type-title>
</div>
<app-data-selector (changedatasets)="changeProp($event, 'data')" [datasets]="graphData.data"></app-data-selector>
<button (click)="add()">{{item.graphData ? 'Update ' : 'Add ' }} Graph</button>
<div *ngIf="item.graphData">{{item.graphData.title}}</div>
<app-graph *ngIf="item.graphData" [data]="item.graphData">
</app-graph>
